/*==================logo============================*/
.logo{
    margin-top:20px;
}
.logo .logoPicture{
    padding-right:40px;border-right:2px solid gainsboro;
}
.logo .logoDiv1{
    vertical-align:middle;margin-left:10px;
}
.logo .logoDiv1 .span1{
    color: #44AEB5; font-size: 12px;
}
.logo .logoDiv1 .span2{
    color:#9B9B9B;font-size: 12px;
}
.logo .logoDiv2{
    margin-top:5px;width:340px;height:40px;
}
.logo .logoDiv2 .logoLogin{
    font-size: 20px;cursor:pointer;color: #44AEB5;padding-left:90px;padding-right:20px;border-right:2px solid gainsboro
}
.logo .logoDiv2 .logoLogin:hover{
    color:orange;
}
.logo .logoDiv2 .logoRegist{
    font-size: 20px;cursor:pointer;color: #44AEB5;padding-left: 20px;
}
.logo .logoDiv2 .logoRegist:hover{
    color:orange;
}
.logo .logoSerch{
    border:2px solid #44AEB5;width:340px;height:40px;
}
.logo .logoSerch button{
    background-color:#44AEB5;border:0;height: 38px;width:60px;
}
.logo .logoSerch input{
    width:250px;border:none;
}
.logo .logoSerch span{
    margin: 10px 0 0 5px;color:#9B9B9B
}
.logo .logoSerch div {
    margin:15px 0px 0px 0px;
    font-size: 12px;
}
.logo .logoSerch div span:hover{
    color:#44AEB5;
    cursor:pointer;
}
input:focus {
    border:none;
    outline:none;
}
/*====listTable===================================*/
.listTable tr{
    background-color: #3c3c3c;

}

.listTable tr td{
    /*padding-left: 30px;padding-right:10px;*/
    font-size: 16px;color:white;
}


/*==========nav=============================*/
.nav{
    margin: 40px 0px 0px 30px;
}
.nav span:hover{
    cursor:pointer;
    border-bottom:2px solid #44AEB5;
}
.nav span{
    font-weight:bold;font-size: 20px;color:#44AEB5;margin-right: 20px;padding:0px 10px 10px 10px;
}
a:hover{

    text-decoration:none;

}